@charset "UTF-8";

.m-top-4 {
    margin-top: 4em;
}

.main_blue {
    background-color: #15798c!important;
    color: #fff!important;
}
.main_gray {
    background-color: #6C6C6C!important;
    color: #fff!important;
}